.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5dc5db3fec66202db9ef9726/1575257243054-1DLAYCAF5TNA3J7YPS8F/ke17ZwdGBToddI8pDm48kLR2rgEg1jPu1GtjV4K1vZ97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0scl71iiVnMuLeEyTFSXT3qwhEKW1IfUKL5GUNLdDa9MjuPXcXiDenG_NSvE-2lGCg/a019_6963.jpg?format=1500w");
    background-size: cover;
    background-position: center;
    opacity: 30%;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.capital {
    color: salmon;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: red;
    color: #ffffff;
}